{% extends 'teamy/base.html' %}

{% block content %}
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Club</th>
        </tr>
        </thead>
        <tbody>
        {% for member in member_list %}
            <tr>
                <td>{{ member.pk }}</td>
                <td>{{ member.first_name }}</td>
                <td>{{ member.last_name }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.department }}</td>
                <td>{% for club in member.club.all %}{{ club }} {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}