{% extends 'teamy/base_authentication.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h1 class="text-center pb-4">Sign in</h1>
    <section class="common-form">
        {% if form.errors %}
            <p class="error-msg">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="error-msg">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p class="error-msg">Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post">
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-5">Sign in</button>
                {% csrf_token %}
            </div>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </section>
{% endblock %}